* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
nav {
  display: flex;
  background-color: cyan;
  justify-content: space-between;
}
nav h1 {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 30px;
}
.nav {
  display: flex;
  width: 450px;
}
.inside {
  display: flex;
  align-items: center;
}
h3 {
  padding: 20px;
}
h3:hover {
  background-color: white;
}
a {
  color: blue;
}

.home {
  background-color: red;
}
.container {
  display: flex;
  height: 90vh;
}
.card {
  margin: auto;
  height: 350px;
  width: 290px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px;
}
img {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
}
.card h1 {
  margin-bottom: 50px;
}
.banner {
  display: flex;
  height: 130vh;
  background-image: url(./sayu.gif);
  background-size: cover;
}
.wc {
  color: skyblue;
  padding: 50px; 
  margin: auto; 
  border: 1px solid;
  border-radius: 30px;
  background-color: wh;
}

/* about */
.about {
  padding: 20px;
  color: black;
  background-color:red;
}
p {
  margin-top: 10px;
}
